@font-face {
  font-family: "Helvetica Neue For Number";
  src: local("Helvetica Neue");
  unicode-range: U+30-39;
}

// Font family
$font-family-base       = Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
$font-family-headings   = Montserrat,$font-family-base
$font-family-article    = $font-family-base
$font-family-code       = Karla,consolas, Menlo,$font-family-base
$font-family-markdown   = -apple-system, BlinkMacSystemFont, "opensans", "Optima", "Microsoft Yahei", sans-serif

// Media queries breakpoints
// Extra small screen / phone
$screen-xs                    = 480px
$screen-xs-min                = $screen-xs

// Small screen / tablet
$screen-sm                    = 768px
$screen-sm-min                = $screen-sm

// Medium screen / desktop
$screen-md                    = 992px
$screen-md-min                = $screen-md

// Large screen / wide desktop
$screen-lg                    = 1200px
$screen-lg-min                = $screen-lg

// Extra Large screen / full hd
$screen-xl                    = 1600px
$screen-xl-min                = $screen-xl

// provide a maximum
$screen-xs-max                = ($screen-sm-min - 1)
$screen-sm-max                = ($screen-md-min - 1)
$screen-md-max                = ($screen-lg-min - 1)
$screen-lg-max                = ($screen-xl-min - 1)

// Color
$base-color                   = $blue-6
$background-color-base        = #e8ecf1
// $background-color-base        = #f4f8fa
$body-background              = $background-color-base
$card-background              = $white
$heading-color                = alpha($black, 85%)
$text-color                   = alpha($black, 65%)
$text-color-secondary         = alpha($black, 43%)
$disabled-color               = alpha($black, 25%)
$heading-color-dark           = alpha($white, 97%)
$text-color-dark              = alpha($white, 91%)
$text-color-secondary-dark    = alpha($white, 67%)
$disabled-color-dark          = alpha($white, 35%)
$label-bg-color               = hsla(0, 0%, 77%, .4)
$liked-color                   = $red-5

// Font size
$font-size-base               = 14px
$font-size-sm                 = $font-size-base - 2
$font-size-lg                 = $font-size-base + 2
$font-title-h1                = 44px
$font-title-h2                = 38px
$font-title-h3                = 32px
$font-title-h4                = 26px
$font-title-h5                = 20px
$font-title-h6                = 14px

// Font weight
$font-weight-lighter          = 200
$font-weight-light            = 300
$font-weight-normal           = 400
$font-weight-normal2          = 500
$font-weight-bold             = 600
$font-weight-bolder           = 700

// Line height
$line-height-sm               = 1.2
$line-height-base             = 1.5
$line-height-large            = 1.8
$line-height-larger           = 2

// Animation
$ease                         = cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-out                     = cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in                      = cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out                  = cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back                = cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back                 = cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back             = cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ                = cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ                 = cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ             = cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint               = cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint                = cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint            = cubic-bezier(0.86, 0, 0.07, 1);

$animation-duration-slower    = .5s
$animation-duration-slow      = .3s
$animation-duration-base      = .2s
$animation-duration-fast      = .1s

// Transition
$transition-ease           = all $animation-duration-base $ease
$transition-ease-in           = all $animation-duration-base $ease-in
$transition-ease-out          = all $animation-duration-base $ease-out
$transition-ease-in-out       = all $animation-duration-base $ease-in-out

// z-index list
$zindex-1                     = 1010
$zindex-2                     = 1020
$zindex-3                     = 1030
$zindex-4                     = 1040
$zindex-5                     = 1050

// Shadow
$shadow-1                     = 0 2px 10px 0px alpha($grey-7, .05)
$shadow-2                     = 0 0 15px alpha($black, .2)
$shadow-3                     = 0 -2px 10px 0px alpha($grey-7, .1)
$shadow-4                     = 0 1px 3px 0px alpha($grey-7, .05)
$card-shadow                  = $shadow-1

// Input
$input-height-base            = 28px
$input-height-lg              = 32px
$input-height-sm              = 22px
$input-padding-horizontal     = 7px
$input-padding-vertical-base  = 4px
$input-padding-vertical-sm    = 1px
$input-padding-vertical-lg    = 6px
$input-placeholder-color      = $grey-6
$input-color                  = $text-color
$input-border-color           = $grey-6
$input-bg                     = $white
$input-hover-border-color     = $blue-6
$input-disabled-bg            = $background-color-base

// Component
$header-height                = 56px
$logo-width                   = 32px
$aside-width                  = $header-height

// Back to top
$b2t-opacity                  = 1
$b2t-position-bottom          = -4em
$b2t-position-bottom-on       = 0
$b2t-position-right           = 2em
$b2t-font-size                = 1.8em
$b2t-color                    = $grey-7

// Markdown Editor
$md-command-item-height       = 36px
$md-command-item-height-mini  = 24px
