$light-name	= 'light'
$light-prefix = '$' + $light-name + '-'
$light-items = {
	color: #f5f5f5,
	color-shadow: #fff,
	color-deep: #bfbfbf
}

for item, val in $light-items {
	define($light-prefix + item, val)
}